<!-- 
  RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 2
  Authors: Nguyen Ngo Hoang Nam, Tran Tuan Bao, Nguyen Huy Anh, Duong Quang Nhat Bao
  IDs: s3980297, s3970254, s3956092s, s3987239
  Acknowledgement: Acknowledge the resources that you use here. 
-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Lazada Website</title>
	<link rel="icon" type="image/x-icon" href="/public/image/favicon.ico">

	<link rel="stylesheet" type="text/css" href="/public/css/default.css">
	<link rel="stylesheet" type="text/css" href="/public/css/customer.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap">
<body>
<!--Header-->
	<div id="Home" class="header">
        <div class="container">
            <%- include('../template/customerHeader.ejs') %>

    	    <div class="row">
                <div class="col-2">
					<h1>Summer Sale<br>Up to 30% Off</h1>
					<p>Everything you need. All in one place.<br>#1 best-selling ecommerce platform.</p>
					<a href="#Products" class="btn">Get Started! &#10095</a>
                </div>
                <div class="col-2">
					<img src="/public/image/image2.png">
                </div>
    	    </div>
        </div>
	</div>

	<!--Featured categories-->   
	<div class="categories">
		<div class="small-container">
			<h2 class="title">Featured Categories</h2>
			<div class="row">
				<div class="col-3">
					<img src="/public/image/category1.jpg">
					<h3>Clothes</h3>
				</div>
				<div class="col-3">
					<img src="/public/image/category2.jpg">
					<h3>Shoes</h3>
				</div>
				<div class="col-3">
					<img src="/public/image/category3.jpg">
					<h3>Electronics</h3>
				</div>
			</div>
		</div>
	</div>
	<!--Featured products--> 

	<div class="small-container">
		<h2 id="Products" class="title">Featured Products</h2>
			<div class="row">
                <% products.forEach(prod => { %>
                    <div class="col-4">
                        <a href="/products/<%= prod['_id'] %>">
                          <img src="/public/image/<%= prod.images[0] %>" width="250px" height="250px">
                        </a>
                        <h4><%= prod.name %></h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>$<%= Number(prod.price).toFixed(2) %></p>
                      </div>
                <% }); %>
            </div>
        </div>
	</div>

	<!--Exclusive Offer-->
	<div class="offer">
        <div class="small-container">
			<div class="row">
				<div class="col-2">
					<img src="/public/image/smartwatch.png" class="offer-img">
				</div>
				<div class="col-2">
					<p>Excluse Offer Now On Lazada</p>
					<h1>LEMFO WS8 MAX Smartwatch Series 8</h1>
					<small>With the LEMFO WS8 MAX, you can enjoy your time on the road in a smart watch.<br>Equipped with auto-shut off function, you can always track your time and keep track of your time without having to take it off.<br></small>
					<a href="/products/1" class="btn">Buy Now &#10095</a>
				</div>
			</div>
    </div>
	</div>

	<!--Footer-->
	<%- include('../template/footer.ejs'); %>
</body>
</head>
</html>