<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Order Lists</title>
	<link rel="icon" type="image/x-icon" href="/public/image/favicon.ico">

	<link rel="stylesheet" type="text/css" href="/public/css/default.css">
	<link rel="stylesheet" type="text/css" href="/public/css/customer.css">
  <link rel="stylesheet" type="text/css" href="/public/css/shipper/orderList.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>
<body>
  <%- include('../template/customerHeader.ejs'); %>

  <section id="orders">
    <h2>Order List</h2>
    <ul class="order-list">
      <% orders.forEach(order => { %>
        <li>
          <span class="order-id">Order ID: #<%= order.id %></span>
          <span class="order-status">Status: <%= order.status %></span>
          <span class="order-address">Delivery address: <%= order.customer.address %></span>
          <a href="/orders/<%= order.id %>">View Details</a>
        </li>
      <% }); %>
    </ul>
  </section>

	<%- include('../template/footer.ejs'); %>
</body>
</html>